body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGLycUwKMDtvheGBhNtgQUzUSIMuZgFm8h_w&usqp=CAU");
    background-repeat: repeat;
    background-size: contain;
    color: rgb(60, 120, 172);/*font color*/
}

img{
    display: block;
    /*content*/
    padding: 15px;
    border: 2px solid rgb(87, 84, 84)
    margin: auto;

}
a{
    color: rgb(230, 158, 234);
}
a:visited{
    color: aqua;
}
li{
    font-style: italic;
}
li:hover{
font-size:105%;
text-decoration: underline;
background-color: rgb(13, 23, 199);
}
.gangnam:hover{
    text-align: center;
    color: grey;
    font-size: large;
}

.common{
    border:2px solid rgb(159, 208, 238);
    position: absolute;
}

.nav{
    top: 0;
    right:0
    z-index;1;
    background-color:black
}
.footer{
    position:fixed;
    background-color:black;
    bottom:0;
    right:0;
    left:0;
    display:block;
    text-align:center;
}

.content {
    left: 0;
    right:0;
    text-align: center;
}
.gallery img{
        display: inline;
        width: 250px;
}